#prodImg{
	width: 500px;
	height: 500px;
}

/* Changes the color of the background */
body {

    background-color: powderblue;
}

/* Aligns the button and text to the right */
#header {
    float: right;
}


/* Sets the size of the image */
#logo {
    width: 150px;
    height: 150px;
}

/* Aligns text */
#AboutMe {
    text-align: center;
}


/* Aligns text and insets an underline for the text */
#Title {
    text-decoration: underline;
    text-align: center;
}

/* Puts elements inline with each other and centers text */
#TitleHead {
    display: inline;
    text-align: center;
}

/* Removes bullet points of unordered list */
ul{
    list-style: none;
}

/* Displays text in the same line instead of one on top the other */

li{
    display: inline-block;
}

/* Once clicked on makes the text color transparent */
.active{
    color: transparent;
}